@*@model IEnumerable<TimeKeeper.Models.EmployeeModel>*@

@model PagedList.IPagedList<TimeKeeper.Models.EmployeeModel>

@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Employee", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table">
    <tr>
      
        <th>
            @*@Html.DisplayNameFor(model => model.FirstName)*@
            @Html.ActionLink("First Name", "Index", new { sortOrder = "EmployeeFirstName", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.LastName)*@
            @Html.ActionLink("Last Name", "Index", new { sortOrder = "EmployeeLastName", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.LastName)*@
            @Html.ActionLink("Birth Date", "Index", new { sortOrder = "BirthDate", currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Links
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.ActionLink("Adjust Hours", "../TKModel/Index", new { id = item.Id }) |

                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })

            </td>

        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))




    @*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>*@

    @*@foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("Adjust Hours", "../TKModel/Index", new { id = item.Id }) |

                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })

            </td>
        </tr>
    }

</table>*@
